@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}

body {
  font-family: Roboto;
  .ReactModal__Overlay {
    background-color: rgba(21, 21, 21, 0.8) !important;
  }
}

.App {
  background: #151515;
  height: 100%;
  min-height: 100vh;

  display: flex;

  .page-container {
    flex: auto;
    background: #151515;
  }
}